/* styles.css */

body {
    background-color: #333; /* Fondo oscuro */
    font-family: "Arial", sans-serif; /* Fuente aleatoria (cambia según tus preferencias) */
    text-align: center; /* Alineación central */
    margin: 0; /* Elimina el margen predeterminado del body */
    padding: 20px; /* Añade un espacio de relleno alrededor del contenido */
  }
  
  h1 {
    color: #caf0f8; /* Color blanco para h1 */
  }
  
  h4 {
    color: #00b4d8; /* Color gris claro para h4 */
  }
  
  .container {
    max-width: 600px; /* Ancho máximo del contenido */
    margin: auto; /* Centra el contenido en el eje horizontal */
  }
  
  /* styles.css */
  
  /* Estilos para la imagen */
  .image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
  }
  
  /* Estilos para los botones */
  .button-container {
    display: flex;
    gap: 10px;
  }
  
  .mostrar-boton {
    background-color: #03045e;
    border-radius: 8px;
    color: white;
    padding: 10px;
    margin: 5px;
  }
  
  .ocultar-boton {
    background-color: #023e8a;
    border-radius: 8px;
    color: white;
    padding: 10px;
    margin: 5px;
  }
  